@font-face {
    font-family: 'Roboto Bold';
    src: url('fonts/subset-Roboto-Bold.woff2') format('woff2'),
        url('fonts/subset-Roboto-Bold.woff') format('woff'),
        url('fonts/subset-Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url('fonts/subset-Montserrat-Regular.woff2') format('woff2'),
        url('fonts/subset-Montserrat-Regular.woff') format('woff'),
        url('fonts/subset-Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather Bold';
    src: url('fonts/subset-Merriweather-Bold.woff2') format('woff2'),
        url('fonts/subset-Merriweather-Bold.woff') format('woff'),
        url('fonts/subset-Merriweather-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('fonts/subset-Montserrat-Bold.woff2') format('woff2'),
        url('fonts/subset-Montserrat-Bold.woff') format('woff'),
        url('fonts/subset-Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regilar';
    src: url('fonts/subset-Roboto-Regular.woff2') format('woff2'),
        url('fonts/subset-Roboto-Regular.woff') format('woff'),
        url('fonts/subset-Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather Regilar';
    src: url('fonts/subset-Merriweather-Regular.woff2') format('woff2'),
        url('fonts/subset-Merriweather-Regular.woff') format('woff'),
        url('fonts/subset-Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 320px) {
    * {
      box-sizing: border-box;
      text-decoration: none;
      margin: 0 auto;
    }

    h1 {
        font-family: 'Merriweather Bold', sans-serif;
        font-size: 40px;
        font-weight: bold;
        color: #fff
    }
    h2 {
        font-family: Merriweather Bold;
        font-style: normal;
        font-size: 30px;
    

    }
    h3 {
        font-family: Montserrat Bold;
        font-style: normal;
        font-size: 16px;
        line-height: 30px;
    }

    body {
        display: block;
        width: 100%;
        letter-spacing: 0.50px;
    }
    
    header{
        background-color: #033456;
    }
    .main {
        background: linear-gradient(176deg, #033456 57.3%, #051F31 98.95%);
    }

    .container {
        width: 320px;
        margin: 0 auto;
    }
    
    .main__text {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    }

    .main {
        padding-bottom: 90px;
    }

    .element {
        padding-top: 50px;
    }

    .element__title {
        font-family: 'Montserrat Regular';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #FFD40C;
    }

    .element__text {
        font-family: 'Montserrat Regular';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
    }

    .main__connection {
        padding-top: 30px;
    }

    .main__link-lesson {

        background: #EE2F30;
        border-radius: 30px;
        width: 270px;
        height: 60px;
        margin-bottom: 10px;
     }

     .main__link-connection {
        width: 270px;
        height: 60px;
        background: #04263D;
        border: 2px solid #183C55;
        box-sizing: border-box;
        border-radius: 30px;

     }

     .link__item {
        padding: 20px 28px;
        font-family: 'Roboto Bold';
        font-style: normal;
        font-size: 10px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2em;
        color: #FFFFFF;
     }

     .item {
        top: 0px;
        font-family: 'Montserrat Bold';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;
        color: #EE2F30;
     }
    
    .steps {
        padding: 75px 0 65px;
    }
    
    .steps__cards {
        padding-top: 70px;
    }

    .step__card-text {
        font-family: 'Montserrat Bold';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #1D323F;
    }

    .advantages {
        background-color: #F1F6FC;
    }

    .advantages__info-text {
        font-family: 'Montserrat Bold';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        color: #051A28;
    }
    
    .advantages__cards {
        padding-top: 95px;
    }

    .advantages__card {
        width: 288px;
        background-color: #fff;
    }

    .advantages__card-text {
        font-family: 'Montserrat Bold';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #1D323F;
    }






































}

@media (min-width: 1024px) {
    
* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0 auto;
}

h1 {
    font-family: 'Merriweather Bold', sans-serif;
    font-size: 130px;
    line-height: 140px;
    font-weight: bold;
    margin-left: 735px;
    color: #fff
}
h2 {
    font-family: Merriweather Bold;
    font-style: normal;
    font-size: 70px;
    line-height: 80px;

}
h3 {
    font-family: Montserrat Bold;
    font-style: normal;
    font-size: 21px;
    line-height: 30px;
}

body {
    display: block;
    width: 100%;
    letter-spacing: 0.50px;
}

.container {
    width: 1920px;
    margin: 0 auto;
}
header {
    background-color: #033456;
}
.connection {
    width: 1920px;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

.connection__link {
    color: #9AAEBB;
    font-family: 'Montserrat Regular';
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    padding-right: 30px;
}

.telephone-number {
    padding-right: 30px;
}
.telephone__text {
    padding-right: 30px;
}

.mail__text {
    padding-right: 260px;
}

.navigation {
    display: flex;
    align-items: center;
}
.menu__list {
    display: flex;
    list-style: none;

}

.logo {
    padding-right: 50px;
    /*padding-left: 255px;?*/
}

.menu__link {
    padding-right: 50px;
    font-family: 'Montserrat Regular';
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    color: #fff
}

.lesson {
    background-color: #EE2F30;
    width: 225px;
    height: 60px;
    border-radius: 50px;
} 

.tick{
    background-image: url(img/tick.svg);
    padding-left: 50%;
}
.link {
    padding: 20px 23px;
    font-family: 'Roboto Regilar';
    font-size: 12px;
    line-height: 30px;
    color: #fff;
    
}

.main__text {
    font-family: Merriweather Bold;
    font-weight: 600;
    font-size: 31px;
    line-height: 50px;
    color: #fff;
    margin-left: 730px;
    width: 1000px;
}

.main {
    background: linear-gradient(176deg, #033456 46.89%, #051F31 94.93%);
    padding-top: 160px;
}

.elements {
    padding-left: 800px;
    display: flex;
    padding-top: 100px;
}
.element {
    width: 50%;
}

.element__title {
    font-family: 'Montserrat Regular';
    font-weight: 600;
    font-size: 21px;
    line-height: 30px;
    color: #FFD40C;

}

.element__text {
    font-family: 'Montserrat Regular';
    font-weight: 500;
    font-size: 12px;
    line-height: 25px;
    color: #fff
}
.main__connection {

    display: flex;
    padding-left: 735px;
    padding-top: 85px;
    padding-bottom: 200px;
}
.main__links {
    padding-left: 730px;
    display: flex;
}
.main__link-lesson {

    background: #EE2F30;
    border-radius: 30px;
    width: 320px;
    height: 60px;
    margin-right: 10px;
 }

 .main__link-connection {
    width: 211px;
    height: 60px;
    background: #04263D;
    border: 2px solid #183C55;
    box-sizing: border-box;
    border-radius: 30px;
    margin-left: 10px;
 }

.link__item {
    font-family: 'Roboto Regilar';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.2em;
    font-weight: 100;
    padding: 20px;
 }

 .steps {

    padding: 160px 0 200px;
 }


.item {
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-size: 14px;
    line-height: 30px;
    color: #EE2F30;
    align-items: center;
    pl
}
.steps__cards {

    display: flex;
    justify-content: space-between;
    margin: 165px 0 165px;
 
}

.step__card {
    width: 25%;
    margin: 0 15;
}

.step__card-icon {
    padding-bottom: 15px;
}

.step__card-name {
    color: #051A28;
    padding-top: 15px;
}

.step__card-text {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    padding-top: 15px;
}

.item__advantages{
   margin-top: 300px;
}
.advantages {
    padding-top: 165px;
    background-color: #F1F6FC;
    
}
.advantages__title {

}

.advantages__info {

    display: flex;
        --ms-align-items: flex-end;
    align-items: flex-end;
}
.advantages__info-text {
    width: 50%;
    font-family: 'Montserrat Regular';
    margin-left: 50px;
    font-size: 21px;
    line-height: 40px;
    font-weight: 800;
    
    color: #1D323F;
}

.advantages__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 140px 0 200px;
    /*margin: 0 px;*/
}

.advantages__card {
    width: 20%;
    background: #FFFFFF;
    border-radius: 20px;
    margin: 16px 16px;
}
.advantages__card-target{
    width: 20%;
    display: block;
}

.advantages__card-free {
    width: 75%;
    background-color: #FFE600;
    display: flex;
}

.advantages__card-title {
    font-family: 'Merriweather Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 47px;
    line-height: 60px;
    padding-top: 90px;
}

.advantages__logo {
    text-align: center;
    margin: 0 113px;
    margin-right: 60px;
}
.advantages__cars-title {
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    text-align: center;

}
.advantages__card-text {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 60px;

}

.advatnages__card-info{
    margin-top: 90px;
}
.advantages__card-logo {
    margin-top: 50px;
}

.advantages__card-link {
    width: 321px;
    height: 60px;
    background: #EE2F30;
    border-radius: 50px;
    font-family: 'Roboto Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    padding: 30px;
    margin-right: 10px;
}

.advantages__card-link_white {
    border: 2px solid rgba(5, 26, 40, 0.1);
    font-family: 'Roboto Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #051A28;
    border: 2px solid rgba(5, 26, 40, 0.1);
    box-sizing: border-box;
    border-radius: 50px;
    background-color: #FFE600;
    margin-left: 10px;

}

.about {
    background-color: #033456;
    padding: 150px 0 110px;
}
.about__title{
    color: #fff;
    margin-bottom: 60px;
}
.about__text{

    display: flex;
    /*justify-content: space-between;*/
    margin: 0 230px;
}
.about__text-item{
font-family: 'Montserrat Regular';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 30px;
color: #FFFFFF;
margin-right: 25px;
}

.price {

    background-color: #033456;
    padding: 110px 0 72px;
}

.price__cards {

    display: flex;
    justify-content: center;

}

.price__card {

    background: #F2F5F6;
    border-radius: 20px 0px 0px 20px;
}

.price__info {
    margin: 0 auto;
}
.price__card-main{
    background: #FFFFFF;
    border-radius: 20px;
}

.price__card-info {
    font-family: 'Merriweather Regilar';
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 40px;
    text-align: center;
    color: #EE2F30;
    padding-top: 25px;

}

.price__title {
    padding-bottom: 25px;
}

.price__list {
    list-style: none;
    padding-bottom: 50px;
}

.price__item {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #1D323F;
}

.price__card-link {
    border: 2px solid rgba(5, 26, 40, 0.1);
    box-sizing: border-box;
    border-radius: 30px;
    font-family: 'Roboto Regilar';
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #051A28;
    padding: 23px;
}

.promotions {
    padding-top: 72px;
    background-color: #033456;
}
.promotions__title {
    margin: 0 auto;
    color: #fff;
}
.promotions__cards {

    display: flex;
    padding-bottom: 170px;
}

.promotions__card {
    background: linear-gradient(180deg, rgba(255, 193, 48, 0.15) 0%, rgba(255, 193, 48, 0.9) 61.33%);
    border-radius: 20px;
    width: 330px;
    height: 427px;
    margin: 0 15px;
}
.promotions__name {
    padding-top: 167px;
    margin-left: 20px;
}

.promotions__text {
    margin-top: 30px;
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #051A28;
    width: 281px;
    margin-left: 20px;
}

.level {
    padding-top: 170px;
    background-color: #F1F6FC;
}

.level__question {
     font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    color: #1D323F;
    padding: 50px 0;
}
.level__text {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #1D323F;
    padding: 50px 0 40px; 
}

.level__connections {
    padding-bottom: 300px;
}
.level__link {
    border-radius: 30px;
   
}

.level__link-red {
    background-color: #EE2F30;
    color: #FABD2D;
    padding: 20px 28px;
    font-family: 'Roboto Regilar';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    letter-spacing: 0.2em;
    margin-right: 10px;
}
.level__link-orange {
    background-color: #FABD2D;
    padding: 20px 28px;
    font-family: 'Roboto Regilar';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #051A28;
    margin-left: 10px;
}

.reviews {
    padding: 100px 0 170px;
    background-color: #F1F6FC;

}
.reviews__title {
    padding-top: 30px;
}

.reviews__cards {

    display: flex;
    /*margin: 0 258px;*/
    padding-top: 140px;
    justify-content: space-around;
}

.review {
    width: 50%;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 686px;

}

.user__name {
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: #033456;
    border-bottom: 1px solid #033456;
}
.review__text {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #1D323F;
    padding-top: 50px;
}

footer {
    background-color: #033456;
    padding-top: 170px;
}

.footer__title {
    color: #fff;
    font-size: 47px;

}

.type__study {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: #F1F6FC;
    padding: 110px 0 20px;
} 
.traning__list {

    display: flex;
    list-style: none;
}

.traning__item-yellow {
    background: #FABD2D;
    border-radius: 30px;
    font-family: 'Roboto Regilar';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #051A28;
    padding: 20px 22px;
}

.traning__item-middle {
    background: #033456;
    font-family: 'Roboto Regilar';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #fff;
    padding: 20px 22px;
}

.traning__item-last {
    background: #033456;
    border-radius: 0 160px 160px 0 ;
    font-family: 'Roboto Regilar';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #fff;
    padding: 20px 22px;
}
.traning__data {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: #F1F6FC;
    padding-bottom: 20px;
}
.personal {
    padding-bottom: 95px;
}

.data {
    width: 250px;
    background-color: #022A45;
    border-radius: 40px;
    border: 0;
    padding: 20px 30px;
    font-family: 'Roboto Regilar';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #F1F6FC;
    margin: 0 15px;
}

.request {
    background-color: #EE2F30;
    border-radius: 30px;
    font-family: 'Roboto Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    padding: 20px 37px 20px 50px;
}

.contacts {
    padding-top: 270px;
}

.contacts__title {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    text-align: right;
    color: #F1F6FC;
}

.social__list {
    list-style: none;
    display: flex;
}

.social__link {
    font-size: 0;
}

.connection {
    padding-top: 25px;
}


.copyright {
    padding-bottom: 100px;
    width: 306px;
}

.logo__text {
    padding-top: 17px;
}

.copyright__text {
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
    font-weight: 100;
    opacity: 0.5;
}

.develop {

    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #748FA2;
    border-radius: 50px;
    }

    .developed-by__link {
        color: #ffff;
    }

    .connection__link-white {
        color: #fff;
        font-weight: 600;
    }

.button {
    position: fixed;
}

.students {
    padding-bottom: 200px;
}

.student__card {

    display: flex;
    padding-top: 200px;
}

.student__text {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #1D323F;
}

}